<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="landingPg.js" defer></script>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
	<link href="landingpg.css" rel="stylesheet">

	<title>Ananya's Teams</title>
</head>
<body>
	<div class="root">
		<div class=col1>
		<div class="logoName">Ananya's Teams</div>
		<div class="headline">Connect & Collaborate with colleagues, family & friends</div>
		<div class="smallMsg">Login into your account to access group rooms in which you can chat and have a video call</div>
		<div class="buttonsAuth">
			<button class="btn" onclick="goToLogin()">Login / SignUp</button>
		</div>
		</div>
		<div class=col2></div>
	</div>
	
</body>
</html>